[user]
	email = kaneshiro@rightcode.co.jp
	name = Naoki Kaneshiro
[url "git@github.com:"]
        insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[alias]
	br = branch
	ci = commit
	st = status
	co = checkout
[push]
	default = simple
[core]
	autocrlf = input
	editor = vim
[merge]
	tool = vimdiff
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto

